.footer-card {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-size: 1.4rem;
  color: white;
  background-color:$color-pink;
  text-decoration: none;
  border-top: 2px rgb(228, 159, 22) solid;
  margin-top: 2px;

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 4rem;
    font-size: 2.7rem;
    color: black;
  }

  &__p {
    font-family: $font-Open;
    line-height: 2rem;
    font-weight: 400;
    color: $color-white;
    padding: 10px;


    @media all and (min-width: 768px) {
      padding-top: 0rem;
      font-size: 1.6rem;    
  
    }
  }

  &__img {
    width: 2rem;
  }
}

