.hero {
    height: 85vh;
    background-image: url('../images/fondo-papel-psicodelico-abstracto.png');
    background-size: cover;
    background-position: center;
    position: relative;
    position: relative;
    z-index: 1;
  }
  .main{
    height: max-content;
    background-image: url('../images/fondo-papel-psicodelico-abstracto.png');
    background-size: cover;
    background-position: center;
    position: relative;
    position: relative;
    z-index: 1;
  
  }
